USE [Patient]
GO
/****** Object:  Table [dbo].[RecordType]    Script Date: 04/02/2018 16:29:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RecordType](
	[TypeID] [int] NOT NULL,
	[RecordName] [varchar](50) NULL,
 CONSTRAINT [PK_RecordType] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[RecordType] ([TypeID], [RecordName]) VALUES (1, N'DiagTreatModel')
INSERT [dbo].[RecordType] ([TypeID], [RecordName]) VALUES (2, N'EmergenModel')
INSERT [dbo].[RecordType] ([TypeID], [RecordName]) VALUES (3, N'OutModel')
/****** Object:  Table [dbo].[Patient]    Script Date: 04/02/2018 16:29:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Patient](
	[PatientID] [varchar](50) NOT NULL,
	[SaveState] [int] NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FieldTable]    Script Date: 04/02/2018 16:29:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FieldTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RecordID] [int] NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_FieldTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[FieldTable] ON
INSERT [dbo].[FieldTable] ([ID], [RecordID], [Name]) VALUES (1, 4, N'UNIQUE_ID')
INSERT [dbo].[FieldTable] ([ID], [RecordID], [Name]) VALUES (2, 4, N'ID')
INSERT [dbo].[FieldTable] ([ID], [RecordID], [Name]) VALUES (3, 4, N'HOSPITAL_ID')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[FieldTable] OFF
/****** Object:  Table [dbo].[FieldRelationship]    Script Date: 04/02/2018 16:29:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FieldRelationship](
	[Name1] [varchar](150) NULL,
	[Name2] [varchar](150) NULL,
	[ChineseName] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[FieldRelationship] ([Name1], [Name2], [ChineseName]) VALUES (N'ACS_DELIVERY_TIME', N'ACSAntiplateletMedicineTime', N'抗血小板首次给药时间')
INSERT [dbo].[FieldRelationship] ([Name1], [Name2], [ChineseName]) VALUES (N'ACS_DRUG_DOSE', N'ACSAntiplateletOtherDosage', N'剂量')
INSERT [dbo].[FieldRelationship] ([Name1], [Name2], [ChineseName]) VALUES (N'ACS_DRUG_TYPE', N'ACSAntiplateletOther', N'其他药物 ')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
/****** Object:  Table [dbo].[Data]    Script Date: 04/02/2018 16:29:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Data](
	[DataID] [int] IDENTITY(1,1) NOT NULL,
	[FieldID] [int] NULL,
	[PatientID] [varchar](50) NULL,
	[FieldValue] [varchar](2000) NULL,
 CONSTRAINT [PK_Data] PRIMARY KEY CLUSTERED 
(
	[DataID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
