<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
   <connectionStrings>
    <add name="PatientContext"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=CANDY;Initial Catalog=Patient;User ID=sa;Password=123456"/>
  </connectionStrings>
  <appSettings>
    <add key="DBSource" value="CANDY" />
    <add key="DBUserName" value="sa" />
    <add key="DBPwd" value="123456" />
    <add key="DBName" value="Patient" />
    <add key="Cookie" value="acw_tc=AQAAAEMlLmzeGwgARWZvtMATuafTy20O;__RequestVerificationToken=UOutgnHkZMe2N5xd6-NADyKzMy3vi4ZrZH9WxgXlStuti7BSs2hi6l_Xb2Xzvu21BXkJCwwL23SJwqpdpYSrWQwBFH3D49M0GMXlWBYPXRk1; UM_distinctid=161ffe358475a8-0887a8ee52bf5f-722c6137-7d400-161ffe35849272; CNZZDATA1261146931=643416402-1520413279-%7C1520413279; ASP.NET_SessionId=bk1vggkkylqdltr42tfqavzx; .ASPXAUTH=61797B289481AD2119A2849F0B48585C61C1C1B5E716E2257B994716D328FB61D13DEDEED00EF507BA7B0D06F6D9792D580F10C2CF4E75E34CC4A776C3D0FB5F7E2E0DB67A6D194A5BE66E859E7B6F58269C99AE1798312C6A9ACE6F89A72D9D" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>